* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.prenav {
    position: relative;
    width: 100%;
    background-color: #e6007e;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

.orders {
    width: 25%;
    text-align: center;
}

.mov-bar {
    width: 53%;
    text-align: center;
}

.contact {
    width: 22%;
    text-align: center;
}

.prenav2 {
    display: flex;
    margin: 10px 0;
}

.collapsedsidepanel {
    width: 25%;
}

.logo {
    width: 50%;
    display: flex;
    justify-content: center;

}

.logo img {
    width: 100px;
    height: 55px;
}

.icons {
    width: 23%;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 25px;
    gap: 10px;
}
.icon3{
    color: red;
}

.line {
    width: 100%;
    color: black;
    /* color: orangered; */
    opacity: 0.2;
    margin-top: 5px;
}

.lineSearch {
    width: 100%;
    color: black;
    opacity: 0.1;
    margin-top: 5px;
}

.navbar1 {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: 20px 0;
}

.link {
    text-decoration: none;
    color: black;
    /* color: white; */

}

.item {
    margin-bottom: 40px;
}

.category {
    font-size: 14px;
}

.description {
    font-size: 16px;
}

.price {
    font-size: 14px;
}

.itemtyp {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    color: gray;
    gap: 40px;
    font-size: 20px;
    color: gray;
    margin: 30px 0;
}

.social a {
    text-decoration: none;
    color: black;
    font-size: 18;
}

.list-bottom1 li a {
    text-decoration: none;
    color: #000;
}

.list-bottom1 li {
    margin-bottom: 10px;
}

.mb_50 {
    margin-bottom: 50px;
}

.clrbg {
    background-color: black;
}

.admincollapsedsidepanel {
    width: 25%;
}

.prenavAdmin1 {
    width: 25%;
}

/* Website Responsiveness Code Starts */

@media screen and (min-width:1024px) {
    .payment_icons {
        text-align: right;
    }

    .product img {
        width: 500px;
        height: 350px;
    }

}

@media screen and (min-width:992px) {
    .sidepanelbutton {
        display: none;
    }

    .admincollapsedsidepanel {
        width: 0 !important;
    }
}

@media screen and (max-width:992px) {
    .searchfield {
        width: 650px !important;
    }

    .navbar1 {
        display: none;
    }

    .sidepanelbutton {
        display: block;
    }

    .prenavAdmin1 {
        display: none !important;
    }

    .line {
        display: none;
    }

    .prenav2 {
        margin-bottom: 50px;
    }

    .chart {
        margin-top: 10px !important;
    }

    .copyrights {
        display: flex;
        justify-content: center;
    }

    .payment_icons {
        display: flex;
        justify-content: center;
    }

    .product img {
        width: 470px;
        height: 300px;
    }

}

@media screen and (max-width:768px) {
    .searchfield {
        width: 430px !important;
    }

    .prenavAdmin {
        display: none !important;
    }

    .loginform {
        padding: 20px 10px !important;
    }

    .loginPglinks {
        flex-direction: column;
        align-items: center;
        margin-top: 25px !important;
        gap: 1px !important;

    }

    .orders {
        width: 100%;
        text-align: center;
    }

    .icons {
        gap: 3px;
        color: red;
    }

    .icon2 {
        display: none;
    }

    .icon3 {
        display: none;
    
    }

    .mov-bar {
        width: 100%;
        margin: 0 5%;
    }

    .contact {
        display: none;
    }

    .discountchart img {
        margin-bottom: 20px;
    }

    .bxe {
        margin-bottom: 20px;
    }

    .copyrights {
        display: flex;
        justify-content: center;
    }

    .payment_icons {
        display: flex;
        justify-content: center;
    }

    .product img {
        width: 400px;
        height: 250px;
    }
}

@media screen and (max-width:480px) {
    .searchfield {
        width: 280px !important;
    }

    .copyrights {
        display: flex;
        justify-content: center;
    }

    .payment_icons {
        display: flex;
        justify-content: center;
    }

    .product img {
        width: 0px;
        height: 240px;
    }

    .adminDataTables {
        flex-direction: column;
    }
}

@media screen and (max-width:300px) {
    .copyrights {
        display: flex;
        justify-content: center;
    }

    .payment_icons {
        display: flex;
        justify-content: center;
    }
}

/* Website Responsiveness Code Ends */

.pro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid lightpink;
    border-right-color: #e6007e;
    animation: l2 1s infinite linear;
}

@keyframes l2 {
    to {
        transform: rotate(1turn)
    }
}

/* CollapsedSidePanel Code */
.sidepanel {
    width: 0;
    position: fixed;
    z-index: 2000;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidepanel a {
    padding: 8px 8px 8px 40px;
    text-decoration: none;
    font-size: 17px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidepanel a:hover {
    color: #f1f1f1;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    color: black;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: white;
}

/* Search Box Style Code */
.searchboxmain {
    width: 100%;
    height: 90vh;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #f0f0f0;
}
.lio{
    width: 15;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 25px;
    gap: 10px;
    color: #818181;
}
.sales{
    color: #e6007e;
}